.inventory-item{
    width:5vw;
    margin:10px;
}
.inventory-item:hover{
    cursor:pointer;
}

#well-stones-clue-inventory{
    width:1.5%;
    height:1%;
}

#well-stones-clue-zoomed{
    height:600px;
}