/* For all lock modals */
.modal-dialog.lock{
    max-width:60vw;
    /* max-height:60vh; */
  }
  .modal-body.lock{
    max-width:60vw;
    /* max-height:60vh; */
    position:relative;
  }
  #lock-background{
    width:100%;
  }

/* For the waterfall stepping stones */
  .stepping-stone{
    position:absolute;
    cursor:pointer;
  }
  #stepping-stone-0{
    top:76%;
    left:2%;
    width:14%;
    height:12%;
  }
  #stepping-stone-1{
    top:76%;
    left:26%;
    width:14%;
    height:12%;
  }
  #stepping-stone-2{
    top:64%;
    left:19%;
    width:12%;
    height:10%;
  }
  #stepping-stone-3{
    top:60%;
    left:39%;
    width:12%;
    height:10%;
  }
  #stepping-stone-4{
    top:49%;
    left:39%;
    width:10%;
    height:8%;
  }
  #stepping-stone-5{
    top:46%;
    left:58%;
    width:10%;
    height:8%;
  }
  #stepping-stone-6{
    top:36%;
    left:53%;
    width:8%;
    height:6%;
  }
  #stepping-stone-7{
    top:33%;
    left:67%;
    width:8%;
    height:6%;
  }
  #stepping-stone-8{
    top:24%;
    left:65%;
    width:6%;
    height:4%;
  }
  #stepping-stone-9{
    top:22%;
    left:80%;
    width:6%;
    height:4%;
  }



/* For the dial lock */
  #diallock-dial{
    position:absolute;
    top:46%;
    left:28.5%;
    width:43%;
    transform:rotate(0);
  }
  #diallock-dial:hover{
    cursor:pointer;
  }
  .diallock-arrow{
    position:absolute;
    /* width:10%; */
  }
  .diallock-arrow:hover{
    cursor:pointer;
  }
  .diallock-arrow.cw{
    top:68%;
    left:79%;
    transform:rotate(115deg);
  }
  .diallock-arrow.ccw{
    top:55%;
    left:79%;
    transform:rotate(65deg) scaleX(-1);
  }
  .diallock-arrow.dir-selected{
    /* background:green; */
    width:10%;
  }
  .diallock-arrow.dir-unselected{
    /* background:red; */
    width:6%;
  }


  /* For checking a lock*/
  #outlineflash{
    width:95%;
    height:95%;
    position:absolute;
    top:2.5%;
    left:2.5%;
    border:0px solid transparent;
    z-index:1;
    pointer-events:none;
    box-shadow:0px 0px 20px 20px transparent;
  }

  #stepping-stones-appended{
    position:absolute;
    height:53%;
    width:25%;
    top:45%;
    left:74%;
  }