.modal-dialog.lock{
    max-width:60vw;
    /* max-height:60vh; */
  }
  .modal-body.lock{
    max-width:60vw;
    /* max-height:60vh; */
    position:relative;
  }
  #lock-background{
    width:100%;
  }



  #diallock-dial{
    position:absolute;
    top:46%;
    left:28.5%;
    width:43%;
    transform:rotate(0);
  }
  #diallock-dial:hover{
    cursor:pointer;
  }
  .diallock-arrow{
    position:absolute;
    /* width:10%; */
  }
  .diallock-arrow:hover{
    cursor:pointer;
  }
  .diallock-arrow.cw{
    top:68%;
    left:79%;
    transform:rotate(115deg);
  }
  .diallock-arrow.ccw{
    top:55%;
    left:79%;
    transform:rotate(65deg) scaleX(-1);
  }
  .diallock-arrow.dir-selected{
    /* background:green; */
    width:10%;
  }
  .diallock-arrow.dir-unselected{
    /* background:red; */
    width:6%;
  }

  #outlineflash{
    width:90%;
    height:90%;
    position:absolute;
    top:5%;
    left:5%;
    z-index:-1;
  }
  #outlineflash.flash-on{
    animation: show 2s;
  }
  @keyframes show{
    0%{
      border-style:solid;
      border-color: red;
      box-shadow: 0px 0px 40px 20px red;
      z-index:10;
    }
    20%{
      border-style:solid;
      border-color: red;
      box-shadow: 0px 0px 20px 10px red;
      z-index:10;
    }
    90%{
      border-style:solid;
      border-color: red;
      box-shadow: 0px 0px 10px 5px red;
      z-index:10;
    }
    100%{
      border-style:none;
      border-color: white;
      box-shadow: 0px 0px 0px 0px white;
      z-index:-1;
    }
  }