body{
    background-color:rgb(193, 234, 240);
}

#dialogue-modal{
    position:absolute;
    top:25%;
}
#inventory-modal{
    position:absolute;
    top:20%;
}
#zoom-modal{
    position:absolute;
    top:20%;
}

.modal-content.dialogue{
    background-color:#B3FFFF;
    border:4px solid black;
    border-radius:8px;
}
.modal-header.dialogue{
    background-color:transparent;
    border:none;
}
.modal-body.dialogue{
    background-color:transparent;
    border:none;
}
.modal-footer.dialogue{
    background-color:transparent;
    border:none;
}
.modal-footer.dialogue > .btn{
    border:2px solid black;
    font-weight:bold;
}

/* .click-region{
    border:solid;
    border-color:red;
} */

#background-map-wrapper{
    position:relative;
    padding:0px;
    width:1000px;
}
#background-map{
    width:100%;
}

.location-marker{
    position: absolute;
    transform: translate(-50%,-50%);
    line-height:10px;
}
.location-marker:hover{
    cursor:pointer;
}

.x-text{
    display:inline-block;
    color: red;
    font-weight: bold;
    font-size:3vw;
    text-align:center;
    vertical-align:middle;
    padding:0px;
}

.player-token{
    position: absolute;
    transform: translate(-50%,-50%);
    width:5%;
    line-height:10px;
    transition: top 2s, left 2s;
}

#player-token-img{
    width:100%;
}

.background-clock-wrapper{
    position: absolute;
    width:28%;
    top:3%;
    left:71%;
}
.background-clock-digits-wrapper{
    position:absolute;
    left:0px;
    top:28px;
    width:100%;
    height:100%;
}
.background-clock-digits-wrapper-2{
    position:relative;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

#background-clock{
    width:100%;
}

.clock-digit{
    position:absolute;
    width:12%;
    height:50%;
    background-color:black;
}

.clock-digit.hours-tens{ 
    top:0%;
    left:11%;
}
.clock-digit.hours-units{ 
    top:0%;
    left:23%;
}
.clock-digit.minutes-tens{ 
    top:0%;
    left:40%;
}
.clock-digit.minutes-units{ 
    top:0%;
    left:52%;
}
.clock-digit.seconds-tens{ 
    top:0%;
    left:68%;
}
.clock-digit.seconds-units{ 
    top:0%;
    left:80%;
}
.clock-digit.separator-1{ 
    top:0%;
    left:28%;
    background:transparent;
}
.clock-digit.separator-2{ 
    top:0%;
    left:57%;
    background:transparent;
}

.digital-no{
    /* display:inline-block; */
    color: #00FF41;
    text-shadow:0 0 10px #00FF41;
    font-family:'Orbitron';
    font-weight: bold;
    font-size:2vw;
    text-align:right;
    vertical-align:middle;
    padding:0px;
    float:right;
    position:relative;
    padding-right:2px;
}

#map-inventory-button{
    position:absolute;
    cursor:pointer;
    top:84%;
    left:86.5%;
    border:2px solid black;
    font-weight:bold;
    background-color:transparent;
}
#map-inventory-button:hover{
    background-color:#B4FFFF;
}
#map-leaderboard-button{
    position:absolute;
    cursor:pointer;
    top:91%;
    left:84.25%;
    border:2px solid black;
    font-weight:bold;
    background-color:transparent;
}
#map-leaderboard-button:hover{
    background-color:#B4FFFF;
}
#map-hint-button{
    position:absolute;
    cursor:pointer;
    top:77%;
    left:90.5%;
    border:2px solid black;
    font-weight:bold;
    background-color:transparent;
}
#map-hint-button:hover{
    background-color:#B4FFFF;
}


#final-time{
    position:absolute;
    width:100px;
    height:100px;
    left:50px;
    top:50px;
    background-color:red;
}




/* Size the doorway modal for the cave */
#door-modal[data-doorway-for='0']{
    width:600px;
    left:300px;
}
/* Size the lock modal for the cave */
#lock-modal[data-lock-for='0']{
    width:500px;
    left:300px;
}
/* Size the minigame modal for the cave */
#minigame-modal[data-minigame-for='0']{
    width:680px;
    left:300px;
}

/* Size the minigame modal for the obelsik */
#minigame-modal[data-minigame-for='3']{
    width:770px;
    left:300px;
}

/* Size the doorway for the well */
#door-modal[data-doorway-for='2']{
    width: 500px;
    left:300px;
}
#lock-modal[data-lock-for='2']{
    width:500px;
    left:300px;
}
#minigame-modal[data-minigame-for='2']{
    width:785px;
    left:300px;
}

/* Size the minigame modal for the volcano */
#minigame-modal[data-minigame-for='4']{
    width:780px;
    left:300px;
}

/* Size the modals for the waterfall */
#door-modal[data-doorway-for='1']{
    width:900px;
    left:250px;
}
#lock-modal[data-lock-for='1']{
    width:780px;
    left:200px;
}
#minigame-modal[data-minigame-for='1']{
    width:780px;
    left:200px;
}

/* Size the modals for the skeleton */
#minigame-modal[data-minigame-for='5']{
    width:1000px;
    left:100px;
}

/* Size the modal for the village */
#minigame-modal[data-minigame-for='6']{
    width:800px;
    left:200px;
}

/* Size any other modals */
#minigame-modal[data-minigame-for='10']{
    width:700px;
    left:200px;
}



.endText{
    display:inline-block;
    width:95%;
    font-size:16px;
}
.endText1{
    padding-top:10px;
}
.endText4{
    border:2px solid red;
    padding-left:10px;
}

.modal-dialog.leaderboard{
    max-width:90%;
}

.solution{
    cursor:pointer;
}


.modal-content{
    background-color:#B3FFFF;
    border:4px solid black;
    border-radius:8px;
}
.modal-header{
    background-color:transparent;
    border:none;
}
.modal-body{
    background-color:transparent;
    border:none;
}
.modal-footer{
    background-color:transparent;
    border:none;
}
.btn{
    border:2px solid black;
    font-weight:bold;
}
.btn:hover{
    background-color:white;
}