/*Cave Paintings*/
#cave-paintings{
    position:absolute;
    cursor:pointer;
    top:66%;
    left:40%;
    width:8%;
    height:24%;
    z-index:1;
}
.stone{
    position:absolute;
    cursor:pointer;
    width:7%;
    height:6%;
}
#stone_bug{
    top:87%;
    left:10%;
}
#stone_van{
    top:79%;
    left:24%;
}
#stone_llama{
    top:59%;
    left:33%;
}
#stone_fin{
    top:50%;
    left:46%;
}
#stone_iron{
    top:79%;
    left:66%;
}
#stone_rat{
    top:91%;
    left:84%;
}
#stone_fez{
    top:60%;
    left:55%;
}
.hollow{
    position:absolute;
    width:7%;
    height:6%;
    cursor:pointer;
}
#hollow1{
    top:63%;
    left:46%;
}
#hollow2{
    top:69.5%;
    left:49%;
}
#hollow3{
    top:75.5%;
    left:52%;
}
#hollow4{
    top:81.5%;
    left:55%;
}

#obelisk-clue{
    cursor:pointer;
    position:absolute;
    width:3%;
    top:70%;
    left:64%;
}
#key-line-cave{
    cursor:pointer;
    position:absolute;
    width:3%;
    top:73%;
    left:68%;
}

/* Waterfall jugs */
.jug{
    position:absolute;
    cursor:pointer;
}
.jug.jug-capacity-3{
    top:72%;
    left:21%;
    width:15%;
    height:17%;
}
.jug.jug-capacity-5{
    top:70%;
    left:56%;
    width:20%;
    height:24%;
}
.jug-action{
    position:absolute;
    cursor:pointer;
    width:17%;
    height:8%;
    display:none;
}
.jug-capacity-3.jug-action-fill{
    left:6%;
    top:63%;
}
.jug-capacity-3.jug-action-pour{
    left:6%;
    top:69%; 
    height:9%;  
}
.jug-capacity-3.jug-action-empty{
    left:6%;
    top:75%;
}
.jug-capacity-3.jug-action-weigh{
    left:6%;
    top:81%;
}
.jug-capacity-5.jug-action-fill{
    left:74%;
    top:64.5%;
}
.jug-capacity-5.jug-action-pour{
    left:74%;
    top:71%;
    height:9%;
}
.jug-capacity-5.jug-action-empty{
    left:74%;
    top:78%;
}
.jug-capacity-5.jug-action-weigh{
    left:74%;
    top:84%;
}

.jug-contents{
    position:absolute;
    background:#577AF4;
    pointer-events:none;
}
.jug-contents.jug-capacity-3{
    width:3%;
    bottom:14.25%;
    left:26.75%;
    height:0%;
}
.jug-contents.jug-capacity-5{
    width:4.25%;
    bottom:10.5%;
    left:63.5%;
    height:0%;
}

#scales{
    position:absolute;
    width:58%;
    height:49%;
    top:40%;
    left:13%;
    pointer-events:none;
}
#scales-pointer{
    position:absolute;
    width:1%;
    height:6%;
    top:54.5%;
    left:42%;
    transform:rotate(180deg);
    transform-origin:50% 90%;
    pointer-events:none;
}

#skeleton-clue{
    cursor:pointer;
    position:absolute;
    width:6%;
    top:77%;
    left:35%;
}
#key-line-waterfall{
    cursor:pointer;
    position:absolute;
    width:8%;
    top:79.5%;
    left:42%;
}


/* Well Stones */
.well-grid-wrapper{
    position:absolute;
    width:50%;
    height:93%;
    top:4%;
    left:45px;
}
.well-grid-wrapper-clue{
    position:absolute;
    width:34%;
    height:93%;
    top:4%;
    left:340px;
}
#well-stones-appended-clue-wrapper{
    position:relative;
    top:0%;
    left:0%;
    max-width:282px;
    max-height:100%;
    overflow:auto;
}
#well-stones-appended-clue{
    position:relative;
    height:3000px;
    width:270px;
    display:block;
    overflow-y:scroll;
    background-color:black;
}
#well-grid{
    position:relative;
    max-height:100%;
    max-width:282px;
    display:block;
    overflow-y:scroll;
    background-color:black;
}
#well-grid > tbody > tr > td {
    border:1px solid black;
}
.well-grid-cell-wrapper{
    position:relative;
    width:50px;
    height:50px;
    cursor:pointer;
}
.well-stone{
    padding:0px;
    pointer-events:none;
}
.well-icon-wrapper{
    padding:0px;
    pointer-events:none;
    height:50px;
    width:50px;
    position:absolute;
    top:0px;
    left:0px;
    display:table;
    text-align:center;
    vertical-align:middle;
}
.well-icon{
    /* font-size:32px; */
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}
#black-well-stone{
    width:50px;
    height:50px;
    padding:none;
    background-color:black;
}



/* Obelisk Stones */
.ob-grid-wrapper{
    position:absolute;
    background-color:transparent;
    border:10px solid brown;
}
.ob-grid-wrapper.puzzle-1{
    top:60px;
    left:60px;
}
.ob-grid-wrapper.puzzle-2{
    top:430px;
    left:60px;
}
.ob-grid{
    position:relative;
    display:block;
    background-color:transparent;
}
.ob-grid > tbody > tr > td {
    border:0px solid black;
}
.ob-grid-cell-outer{
    background-color:brown;
    width:60px;
    height:60px;
    padding:0px;
    background-color:transparent;
}
.ob-grid-cell-inner{
    position:relative;
    width:60px;
    height:60px;
    background-color:transparent;
}

.block{
    position:absolute;
    cursor:pointer;
    background-color:black;
    padding:0px;
    top:10%;
    left:10%;
    border:1px solid brown;
}
.block-hor{
    background-image:url("../images/minigames/puzzles/obelisk/light-block-hor.jpg");
}
.block-ver{
    background-image:url("../images/minigames/puzzles/obelisk/light-block-ver.jpg");
}
#block-0{
    background-image:url("../images/minigames/puzzles/obelisk/dark-block.jpg");
}
.ob-grid{
    background-image:url("../images/minigames/puzzles/obelisk/background-block.jpg");
}
.block-size-2.block-hor{
    width:120px;    
    height:60px;
}
.block-size-3.block-hor{
    width:180px;
    height:60px;
}
.block-size-2.block-ver{
    width:60px;
    height:120px;
}
.block-size-3.block-ver{
    width:60px;
    height:180px;
}
.block-size-1{
    width:60px;
    height:60px;
    cursor:default;
}

.wrap-constraint{
    position:absolute;
    pointer-events:none;
    /* border:2px solid green */
}
.doorway{
    position:absolute;
    width:18px;
    height:60px;
    background:black;
}
.doorway.puzzle-1{
    top:190px;
    left:426px;
}
.doorway.puzzle-2{
    top:560px;
    left:426px;
}
.hollowBlock{
    position:absolute;
    width:80px;
    height:40px;
    top:10px;
    left:20px;
    background:black;
}
#well-clue{
    position:absolute;
    cursor:pointer;
    width:46px;
    height:18px;
    top:19px;
    left:29px;
}
#diallock-clue{
    position:absolute;
    cursor:pointer;
    width:50px;
    height:12px;
    top:31px;
    left:45px;
}
#well-stones-clue{
    position:absolute;
    cursor:pointer;
    width:5px;
    height:61px;
    top:10px;
    left:55px;
    transform:rotate(90deg);
}
#key-line-obelisk{
    position:absolute;
    cursor:pointer;
    width:46px;
    height:11px;
    top:19px;
    left:29px;
}

#volcano-clue{
    position:absolute;
    cursor:pointer;
    width:80%;
    height:40%;
    top:10%;
    left:10%;
}
#key-line-well{
    position:absolute;
    cursor:pointer;
    width:80%;
    height:13%;
    top:67%;
    left:10%;
}

/* Volcano */
.v-grid-wrapper{
    position:absolute;
    /* background-color:blue; */
    border:10px solid brown;
}
.v-grid-wrapper{
    top:60px;
    left:60px;
}
.v-grid{
    position:relative;
    display:block;
    background-color:transparent;
}
.v-grid > tbody > tr > td {
    border:1px solid black;
}
.v-grid-cell-outer{
    background-color:brown;
    width:45px;
    height:45px;
    padding:0px;
    background-color:transparent;
}
.v-grid-cell-inner{
    position:relative;
    width:45px;
    height:45px;
    background-color:blue;
    cursor:pointer;
}
#empty-space{
    position:absolute;
    width:10%;
    height:10%;
    top:8%;
    left:78%;
    background-color:black;
    border:2px solid red;
}
#waterfall-clue{
    position:absolute;
    cursor:pointer;
    width:80%;
    height:30%;
    top:10%;
    left:10%;
}
#key-line-volcano{
    position:absolute;
    cursor:pointer;
    width:80%;
    height:16%;
    top:60%;
    left:10%;
}
#stepping-stones-clue{
    position:absolute;
    cursor:pointer;
    width:20%;
    height:50%;
    top:10%;
    left:73%;
}


/* Skeleton tile grid */
.sk-grid-wrapper{
    position:absolute;
    background-color:transparent;
    border:30px solid #888C8D;
}
.sk-grid-wrapper.pkey{
    top:30px;
    left:30px;
}
.sk-grid-wrapper.ptile{
    top:30px;
    left:275px;
}
.sk-grid{
    position:relative;
    display:block;
    background-color:transparent;
}
.sk-grid > tbody > tr > td {
    border:1px solid black;
}
.sk-grid-cell-outer{
    background-color:transparent;
    width:40px;
    height:40px;
    padding:0px;
    background-color:#FFCC00;
    cursor:pointer;
}
.sk-grid-cell-inner{
    position:relative;
    width:40px;
    height:40px;
    background-color:blue;
    visibility:hidden;
    pointer-events:none;
}
.tile-row{
    position:absolute;
    height:40px;
    width:200px;
}
#skeleton-clue-text-1{
    position:absolute;
    top:-9%;
    left:18%;
    font-size:15px;
    cursor:pointer;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#skeleton-clue-text-2{
    position:absolute;
    top:101%;
    left:8%;
    font-size:15px;
    cursor:pointer;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#skeleton-output{
    position:absolute;
    top:100%;
    left:36%;
    font-size:20px;
    cursor:pointer;
    font-family:Arial, Helvetica, sans-serif;
    color:#00FF41;
}
#chest-closed{
    position:absolute;
    top:74%;
    left:76%;
    width:13%;
    cursor:pointer;
}
#chest-open{
    position:absolute;
    top:60%;
    left:76%;
    width:18%;
}
#artefact{
    position:absolute;
    cursor:pointer;
    top:72%;
    left:83%;
    width:5%;
}