/*Cave Paintings*/
#cave-paintings{
    position:absolute;
    cursor:pointer;
    top:64%;
    left:40%;
    width:11%;
    height:28%;
}
.stone{
    position:absolute;
    cursor:pointer;
    width:7%;
    height:6%;
}
#stone_bug{
    top:87%;
    left:10%;
}
#stone_van{
    top:79%;
    left:24%;
}
#stone_llama{
    top:59%;
    left:33%;
}
#stone_fin{
    top:50%;
    left:46%;
}
#stone_iron{
    top:79%;
    left:66%;
}
#stone_rat{
    top:91%;
    left:84%;
}
.hollow{
    position:absolute;
    width:7%;
    height:6%;
}
#hollow1{
    top:63%;
    left:46%;
}
#hollow2{
    top:69.5%;
    left:49%;
}
#hollow3{
    top:75.5%;
    left:52%;
}
#hollow4{
    top:81.5%;
    left:55%;
}

#stepping-stones-clue{
    cursor:pointer;
    position:absolute;
    width:1%;
    top:69%;
    left:64%;
}
#waterfall-clue{
    cursor:pointer;
    position:absolute;
    width:2%;
    top:72%;
    left:68%;
}