/*Cave Paintings*/
#cave-paintings{
    position:absolute;
    cursor:pointer;
    top:64%;
    left:40%;
    width:11%;
    height:28%;
    z-index:1;
}
.stone{
    position:absolute;
    cursor:pointer;
    width:7%;
    height:6%;
}
#stone_bug{
    top:87%;
    left:10%;
}
#stone_van{
    top:79%;
    left:24%;
}
#stone_llama{
    top:59%;
    left:33%;
}
#stone_fin{
    top:50%;
    left:46%;
}
#stone_iron{
    top:79%;
    left:66%;
}
#stone_rat{
    top:91%;
    left:84%;
}
.hollow{
    position:absolute;
    width:7%;
    height:6%;
}
#hollow1{
    top:63%;
    left:46%;
}
#hollow2{
    top:69.5%;
    left:49%;
}
#hollow3{
    top:75.5%;
    left:52%;
}
#hollow4{
    top:81.5%;
    left:55%;
}

#stepping-stones-clue{
    cursor:pointer;
    position:absolute;
    width:1%;
    top:69%;
    left:64%;
}
#waterfall-clue{
    cursor:pointer;
    position:absolute;
    width:2%;
    top:72%;
    left:68%;
}

/* Waterfall jugs */
.jug{
    position:absolute;
    cursor:pointer;
    width:10%;
    height:10%;
}
.jug.jug-capacity-3{
    top:50%;
    left:25%;
}
.jug.jug-capacity-5{
    top:50%;
    left:75%;
}
.jug-action{
    position:absolute;
    cursor:pointer;
    width:10%;
    height:2%;
    display:none;
}
.jug-capacity-3.jug-action-fill{
    left:25%;
    top:30%;
}
.jug-capacity-3.jug-action-pour{
    left:25%;
    top:35%;   
}
.jug-capacity-3.jug-action-empty{
    left:25%;
    top:40%;
}
.jug-capacity-3.jug-action-weigh{
    left:25%;
    top:45%;
}
.jug-capacity-5.jug-action-fill{
    left:75%;
    top:30%;
}
.jug-capacity-5.jug-action-pour{
    left:75%;
    top:35%;
}
.jug-capacity-5.jug-action-empty{
    left:75%;
    top:40%;
}
.jug-capacity-5.jug-action-weigh{
    left:75%;
    top:45%;
}

.jug-contents{
    position:absolute;
    width:6%;
    bottom:41.75%;
    background:blue;
    pointer-events:none;
}
.jug-contents.jug-capacity-3{
    left:27%;
    height:0%;
}
.jug-contents.jug-capacity-5{
    left:77%;
    height:0%;
}

#scales{
    position:absolute;
    width:31%;
    height:34%;
    top:20%;
    left:40%;
}
#scales-pointer{
    position:absolute;
    width:2%;
    height:8%;
    top:26%;
    left:54.8%;
    transform:rotate(180deg)
}

#well-clue{
    cursor:pointer;
    position:absolute;
    width:6%;
    top:44%;
    left:50%;
}
#well-stones-clue{
    cursor:pointer;
    position:absolute;
    width:1.5%;
    top:36%;
    left:55%;
    transform:rotate(90deg);
}


/* Well Stones */
.well-grid-wrapper{
    position:absolute;
    width:50%;
    height:80%;
    top:10%;
    left:25%;
}
#well-grid{
    position:relative;
    max-height:100%;
    max-width:282px;
    display:block;
    overflow-y:scroll;
}
#well-grid > tbody > tr > td {
    border:1px solid blue;
}
.well-grid-cell-wrapper{
    position:relative;
    width:50px;
    height:50px;
    cursor:pointer;
}
.well-stone{
    padding:0px;
    pointer-events:none;
}
.well-icon-wrapper{
    padding:0px;
    pointer-events:none;
    height:50px;
    width:50px;
    position:absolute;
    top:0px;
    left:0px;
    display:table;
    text-align:center;
    vertical-align:middle;
}
.well-icon{
    /* font-size:32px; */
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}